*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    padding: 13px 18px;
    border: none;
    background-color: #2657A4;
    color: #fff;
    font-family: "Inter", sans-serif;
    border-radius: 3px;
    cursor: pointer;
}
header{
    background-image:  url(../images/hero-vector-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 850px;
    width: 100%;
}
.head{

}
.navbar {
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: space-around;
    align-content: center;
}
.navbar .logo{
    margin-top: 20px;
    cursor: pointer;
}
.navbar .menu{
    margin-top: 20px;
}
.navbar .menu li{
    display: inline-block;
    list-style: none;
}
.navbar .menu .menu-list:hover{
    background-color: aquamarine;
}
.navbar .menu .menu-list{
    text-decoration: none;
    color: #51565E;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 10px;
    padding: 10px 15px;
}
.navbar .menu .active{
    color: #2657A4;

}
.navbar .menu .btn-nav{
    transition: 0.3s ease-in;
}
.navbar .menu .btn-nav:hover{
    background-color: #10ac84;
}
/* navbar style end */

/* hero style */

.hero{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 20px;
    align-content: center;
}

.hero .hero-text{
    width: 30%;
    margin-top: 100px;
}   
.hero .hero-text h1{
    font-size: 3rem;
    font-family: 'inter', 'sans-serif';
    font-weight: 600;
    width: 450px;
    color: #060E1A;
    padding: 10px;
}
.hero .hero-text .hero-text-span{
    color: #2657A4;
    position: relative;
}
.hero .hero-text .hero-text-span::before{
    content: url(../images/after.png);
    position: absolute;
    /* background-image: url(../images/Vector\ 6.png); */
    display: inline-block;
    margin-top: 18px;
}
.hero .hero-img{
    width: 700px;
    height: 500px;
}

.hero .hero-text .hero-paragraph{
    margin: 25px 0px;
    width: 400px;
    padding: 10px;
    font-family: 'inter', 'sans-serif';
    color: #51565E;
    line-height: 1.3rem;
}
.hero .hero-text .hero-button{
    cursor: pointer;
    font-weight: 400;
    padding: 15px;
    transition: 0.3s ease-in-out;
}
.hero .hero-text .hero-button:hover{
    background-color: #10ac84;
}

/* Hero part end */


/* Main info part started */

.main-area{
    width: 100%;
    height: 500px;
    background-color: #fff;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}

.main-area .main-img{
    background-image: url(../images/main-info-vector.png);
    background-repeat: no-repeat;
    grid-column: 1 / 6;
}

.main-area .main-text{
    grid-column: 7 / 12;
    margin: 50px;
    align-content: center;
}
.main-area .main-text h2{
    font-family: 'inter', 'sans-serif';
    font-size: 2rem;
    font-weight: 500;
    width: 350px;
    margin-bottom: 30px;
    color: #060E1A;
}
.main-area .main-text .main-info-item{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}
.main-area .main-text .main-info-item img{
    grid-column: 1 / 2;
}
.main-area .main-text .main-info-item .position{
    grid-column: 2 / -1;
    font-family: 'inter', 'sans-serif';
}
.main-area .main-info-item .position h3{
    font-weight: 600;
    margin-bottom: 20px;
    color: #060E1A;
}
.main-area .main-info-item .position p{
    color: #51565E;
    font-size: 0.9rem;
    margin-bottom: 20px;
    width: 500px;
}
/* Main info part end */